<div class="row row-cols-1 row-cols-md-3 g-5 ">
  <div class="col">
    <div class="card ">
      <img src="./assets/scrub.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FACIALS</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/nail.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NAILS</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/makeup.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MAKE UP</h5>
      </div>
    </div>
  </div>
</div>
