img{
  height: 100%;
  width: 100%;
}
.container-fluid {
  position: relative;
  margin-top: 2%;
  padding: 0px;
  color: white;
}
h1{
  text-align: center;
}
.contactInfo{
  text-align: center;
  margin-bottom: 30px;
}

.centered {
  position: absolute;
  top: 5%;
  left:5%;
}
label{
  text-align: left;
}
@media only screen and (max-width: 770px) {
.container-fluid{
  background-color: rgb(218,214,213);
  position: static;
  padding-top: 20%;
  height: 100vh;
  color: black;
}
  img{
    display: none;
  }
  .centered{
    position: static;
    left: 0;
    margin-left: 10px;
  }
}
